.coming-soon {
  font-family: 'stormblade', sans-serif;
  text-align: center;
  margin-top: 1rem;
  font-size: 2rem;
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
