.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: solid;
  border-radius: 20px;
  margin: 0.75rem 1rem;
  padding: 0.75rem 1rem;
  width: 80%;
  min-width: 0;
  height: auto;
  min-height: 400px;
  background-color: hsl(215, 20%, 10%);
}

@media (min-width: 800px) {
  .card {
    width: 20vw;
    min-width: 275px;
    height: 25vw;
  }
}

.card h3 {
  margin: 0.5rem 0;
}

.card:hover {
  border-color: var(--pink);
  box-shadow: 0 0 10px 5px var(--purple);
}

.card:hover h3 {
  color: var(--pink);
}

.thumb {
  aspect-ratio: 1/1;
  width: 80%;
  position: relative;
}
